<!--
  Generated template for the ScannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scanner</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
    <ion-item *ngIf="value">{{ value }}</ion-item>
    <button ion-button (click)="scan()">Scan via appareil photo</button>
    <button ion-button (click)="scanByPicture()">Scan via photo</button>
</ion-content>
