<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historique</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of history">Mot générée : {{ item.value }} à {{ item.date | date:'dd/MM/yyy hh:mm:ss' }} </ion-item>
  </ion-list>
</ion-content>
