<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Générer QRCode</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

    <img src="{{ qrcodeUrl }}" *ngIf="qrcodeUrl">
    <ion-item>
        <ion-input [(ngModel)]="text"></ion-input>
    </ion-item>
    <button ion-button (click)="generate()" [disabled]="!text">Générer</button>
    <button ion-button (click)="share()" [disabled]="!qrcodeUrl">Partager</button>
</ion-content>
